.group-section-header-1 {
    color: #FFF;
    font-weight: bold;
    margin-top: 1rem;
    text-align: center;
}

.group-selection-popcorn-img {
    margin-right: 10px;
}

.group-section-container-1 {
    background-color: rgb(41, 41, 41);
}

.group-section-header-2 {
    font-size: 13px;
    color: rgb(125, 123, 123);
    font-weight: bold;
    margin-top: 1rem;
    padding-top: 1rem;
    margin-left: 1rem;
}


.group-section-nav {
    margin-top: 1rem;
}

.nav-link {
    font-size: 16px;
    color: rgb(225, 220, 220);
}

.nav-link:hover{
    color: #FFF !important;
    
    font-weight: bold;
}

a:hover {
    color: lightgray !important;
}

a:active {
    font-weight: bold;
}