.group-section-header {
    font-weight: bold;
    margin-top: 1.5rem;
    text-align: center;
}

.group-section-nav {
    margin-top: 3rem;
}

.nav-link {
    color: black;
    background-color: #e0e0e0;
    text-decoration: none !important;
}

.nav-link-hover-color {
    color: black !important;
    text-decoration: none !important;
}
