.card 
{
    width: 18rem;
}

.movie-card {
    margin-top: 5rem !important;
}

.movie-card-rows {
    margin-top: 3rem !important;
    justify-content: center !important;
}

.btn {
    max-width: 8rem !important;
}